@import './variables';

input {
  font-size: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 10px;
  width: 100%;
  margin: 10px 0px;
}

button {
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px;
  background: #e1ddc3;
  margin-top: 10px;
  font-family: $primary-font-fam;
  font-size: 16px;
  border: none;
}

textarea {
  width: 100%;
  font-size: 15px;
  padding: 10px;
  box-sizing: border-box;
  margin: 10px 0px;
  border: 1px solid $darkest-grey-color !important;
  padding: 10px !important;
  font-family: 'Arial', sans-serif !important;
  color: $primary-color !important;
}

select {
  font-size: 16px;
  height: 38px;
  border: 1px solid $darker-grey-color;
  border-radius: 3px;
  width: 100%;
  margin: 10px 0px;
}

.error_label {
  color: #f44336;
  display: block;
  font-size: 15px;
}

.form_devider {
  border-bottom: 3px solid $darkest-grey-color;
  margin: 40px 0px;
}

.label_inputs {
  display: inline-block;
  background: $darkest-grey-color;
  color: #fff;
  padding: 5px 5px;
}

.formBlock {
  margin-bottom: 10px;
}

.form_block_two {
  display: flex;
}

.form_block_two .block {
  flex-grow: 1;
  box-sizing: border-box;
}

.form_block_two .block:nth-child(1) {
  padding-right: 10px;
}
.form_block_two .block:nth-child(2) {
  padding-left: 10px;
}

.form_success {
  background: #4caf50;
  color: $white-color;
  padding: 10px;
  display: block;
}