.success {
  background-color: green !important;
}
.error {
  background-color: #ab0404 !important;
}
.info {
  background-color: blue !important;
}
.warning {
  background-color: orange !important;
}