$primary-color: #404040;
$secondary-color: #860b31;

$white-color: #fff;
$grey-color: #dfdfdf;
$darker-grey-color: #dddddd;
$darkest-grey-color: #999592;

$link-color: #c3c0b1;
$link-hover-color: #fff;
$link_bg: #f8f8f8;
$link_hover_bg: #aaaaaa;
$link-default-bg: #e1ddc3;
$link-shop-color: #6b6b6b;
$link-shop-bg: #d9d9d9;

$featured-tag-color: #00000087;

$primary-font-fam: "Oswald", sans-serif;
$logo-font-fam: "Monoton", cursive;

$logo-font-size: 40px;

$bck_b_dark: #000000;

$a-color: #c9c9c9;

