body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  color: #404040;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}
.page_container {
  min-height: 75vh;
  padding-top: 85px;
}
.main_loader {
  text-align: center;
  margin-top: 100px;
  min-height: 75vh;
}

.page_wrapper {
  padding-top: 85px;
}

a {
  text-decoration: none;
  color: inherit;
}

.bck_b_light {
  background: #999592;
}

.bck_b_dark {
  background: #272723;
}

.dialog_alert {
  padding: 51px;
  font-size: 30px;
}

.load_more_container {
  clear: both;
  margin-bottom: 50px;
  border-top: 5px solid #f5f5f5;
  padding-top: 20px;
}

.load_more_container span {
  cursor: pointer;
  background: #5b768c;
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px 60px;
  display: table;
  margin: 0 auto;
  transition: 0.3s;
}

.load_more_container span:hover{
  background: #999592;
}

.no_result {
  font-size: 40px;
  color: #999592;
  text-align: center;
  padding-top: 40px;
  margin: 0 auto;
}

.not_found_container {
  font-size: 70px;
  text-align: center;
  padding-top: 70px;
  color: #dddddd;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.success {
  background-color: green !important;
}
.error {
  background-color: #ab0404 !important;
}
.info {
  background-color: blue !important;
}
.warning {
  background-color: orange !important;
}

/*============================
          FORM
==============================*/

input {
  font-size: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 10px;
  width: 100%;
  margin: 10px 0px 0px 0px;
}

button {
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px;
  background: #e1ddc3;
  margin-top: 10px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  border: none;
}

.error_label {
  color: #f44336;
  display: block;
  font-size: 15px;
}

textarea {
  width: 100%;
  height: 51px;
  font-size: 15px;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 5px;
  border: 1px solid #d1d1d1;
}

.form_devider {
  border-bottom: 3px solid #999592;
  margin: 40px 0px;
}

.label_inputs {
  display: inline-block;
  background: #999592;
  color: #fff;
  padding: 5px 5px;
}

select {
  font-size: 16px;
  height: 38px;
  border: 1px solid #e9e9e9;
  border-radius: 3px;
  width: 100%;
  margin: 10px 0px 0px 0px;
}
.formBlock {
  margin-bottom: 10px;
}

.form_block_two {
  display: flex;
}
.form_block_two .block {
  flex-grow: 1;
  box-sizing: border-box;
}

.form_block_two .block:nth-child(1) {
  padding-right: 10px;
}
.form_block_two .block:nth-child(2) {
  padding-left: 10px;
}

.form_success {
  background: #4caf50;
  color: #ffffffff;
  padding: 10px;
  display: block;
}

/*============================
          BUTTONS
==============================*/
.link_default {
  text-transform: uppercase;
  padding: 10px;
  display: table;
  background: #e1ddc3;
  margin-top: 10px;
  border: none;
}

.card_link,
.add_to_cart_link {
  width: 100%;
  border: 1px solid #dcdcdc;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  color: #c3c0b1;
  background: #f8f8f8;
  transition: all 200ms ease-in;
  cursor: pointer;
}
.bag_link{
  width: 100%;
  border: 1px solid #dcdcdc;
  padding: 5px 10px;
  display: block;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  color: #c3c0b1;
  background: #f8f8f8;
  transition: all 200ms ease-in;
  cursor: pointer;
}

.card_link:hover,
.bag_link:hover,
.add_to_cart_link:hover {
  background: #aaaaaa;
  color: #ffff;
}
.add_to_cart_link {
  color: #6b6b6b;
  background: #d9d9d9;
}
.add_to_cart_link svg {
  margin-right: 10px;
}

.action_button {
  text-transform: uppercase;
  padding: 10px;
  display: table;
  background: #e1ddc3;
  margin-top: 10px;
}

/*============================
      PAGE TOP
==============================*/

.page_top {
  border-bottom: 1px solid #999592;
  padding: 20px;
  text-transform: uppercase;
}

/*============================
          HEADER
==============================*/
header {
  position: fixed;
  z-index: 999;
  width: 100%;
  border-bottom: 1px solid white;
}

header .logo {
  font-family: "Monoton", cursive;
  color: #ffffff;
  font-size: 40px;
  padding: 11px 10px;
  margin: 0;
}

header a {
  margin-left: 20px;
}

header .container {
  display: flex;
}

header .container .left {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .container .right {
  flex-grow: 1;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
header .container .right .top,
header .container .right .bottom {
  text-transform: uppercase;
  font-weight: 700;
  text-align: right;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px;
}

header .container .right .top {
  color: #c9c9c9;
  border-bottom: 1px solid #ffffff;
}

header .cart_link {
  display: inline-block;
  position: relative;
}

header .cart_link_counter{
  width: 18px;
  height: 18px;
  position: absolute;
  background: red;
  top: 2px;
  color: #ffff;
  left: -8px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 12px;
}

header .log_out_link {
  cursor: pointer;
  display: inline-block;
  margin-left: 20px;
}

/*============================
          FOOTER
==============================*/

footer .logo {
  text-align: center;
  font-family: "Monoton", cursive;
  color: #ffffff;
  font-size: 40px;
  padding: 11px 0px;
  border-bottom: 1px solid #4d4d4d;
}

footer .wrapper {
  display: flex;
  color: #828282;
}

footer .left,
footer .right {
  flex: 1;
  padding: 10px;
}

footer .business_nfo {
  display: flex;
  flex-wrap: wrap;
}

footer .business_nfo .tag {
  flex-grow: 1;
  position: relative;
  width: 50%;
  margin-bottom: 30px;
}
footer .business_nfo .icon {
  position: absolute;
  font-size: 26px;
  top: 10px;
}
footer .business_nfo .nfo {
  padding-left: 40px;
}

/*============================
      FEATURED IMAGE
==============================*/

.featured_container .featured_image {
  position: relative;
  background-size: cover !important;
  background-position: center left !important;
}

.featured_container .featured_action {
  position: absolute;
  top: 45%;
  left: 8%;
}

.featured_container .featured_action .tag {
  background: #82828287;
  color: #ffffff;
  padding: 0px 20px;
  text-transform: uppercase;
  display: table;
}

.featured_container .featured_action .tag.title {
  font-size: 70px;
  font-weight: 700;
}

.featured_container .featured_action .tag.low_title {
  font-size: 50px;
  font-weight: 300;
  margin-top: 10px;
}

/*============================
      FEATURED PROMOTION
==============================*/

.home_promotion .home_promotion_img {
  height: 400px;
  background-size: cover !important;
  background-position: top center !important;
  padding: 73px;
  box-sizing: border-box;
}

.home_promotion .tag {
  background: #82828287;
  color: #ffffff;
  padding: 0px 20px;
  text-transform: uppercase;
  display: table;
}

.home_promotion .tag.title {
  font-size: 70px;
  font-weight: 700;
  margin: 10px auto;
}

.home_promotion .tag.low_title {
  font-size: 50px;
  font-weight: 300;
  margin-top: 10px;
  margin: 0 auto;
}

.home_promotion .my_link a {
  margin: 10px auto;
}

/*============================
      CARD BLOCK
==============================*/

.card_block {
  margin: 110px 0px;
}

.card_block .title {
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
  margin-bottom: 50px;
}

.card_block_shop .card_item_wrapper {
  flex-basis: 33%;
  margin-bottom: 20px;
}

.card_block_shop_wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

/*============================
      CARD ITEM
==============================*/

.card_item_wrapper {
  flex-basis: 25%;
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.card_item_wrapper .image {
  width: 100%;
  height: 280px;
  background-position: center !important;
  background-size: cover !important;
  border: 1px solid #f0f0f0;
}

.card_item_wrapper .tags {
  position: relative;
  border-bottom: 1px solid #f0f0f0;
}

.card_item_wrapper .tags .brand,
.card_item_wrapper .tags .name,
.card_item_wrapper .tags .price {
  text-align: center;
  margin: 5px;
}

.card_item_wrapper .tags .brand {
  font-size: 17px;
  font-weight: 700;
  color: #2196f3;
}

.card_item_wrapper .tags .name {
  font-size: 21px;
  font-weight: 700;
}

.card_item_wrapper .tags .price {
  font-weight: 300;
  font-size: 21px;
}

.card_item_wrapper .actions {
  display: flex;
  padding: 15px 0 10px 0;
}

.card_item_wrapper .actions .button_wrap:nth-child(1) {
  flex-grow: 1;
  padding-right: 10px;
}

.card_item_wrapper.grid_bars {
  width: 100%;
  display: flex;
  align-items: center;
}

.card_item_wrapper.grid_bars .image {
  min-width: 150px;
  background-size: contain !important;
  max-width: 250px;
  width: 100%;
  min-height: 211px;
  height: 100%;
  border: none;
}

.card_item_wrapper.grid_bars .action_container {
  flex-grow: 1;
  border: 1px solid #e6e6e6;
}

.card_item_wrapper.grid_bars .description {
  clear: both;
  padding: 0px 25px;
  border-top: 1px solid #eeeeee;
}

.card_item_wrapper.grid_bars .tags {
  border-bottom: 0px;
  padding: 5px 20px;
}

.card_item_wrapper.grid_bars .tags .brand {
  font-size: 21px;
}

.card_item_wrapper.grid_bars .tags .brand,
.card_item_wrapper.grid_bars .tags .name {
  float: left;
}

.card_item_wrapper.grid_bars .tags .price {
  float: right;
}

.card_item_wrapper.grid_bars .actions {
  clear: both;
  float: right;
  padding: 10px 20px 10px 15px;
}

/*============================
      SHOP
==============================*/

.shop{
  min-height: 140vh;
}

.shop_wrapper {
  display: flex;
  padding: 20px 10px;
}

.shop_wrapper .left {
  flex-basis: 20%;
}

.shop_wrapper .right {
  flex-basis: 80%;
}

.collapse_items_wrapper{
  cursor: pointer;
}

.collapse_title span {
  text-transform: uppercase;
  font-weight: 700;
}

.grid_btn {
  float: right;
  padding: 10px 10px;
  font-size: 20px;
  color: #c6c6c6;
  cursor: pointer;
}
.grid_btn.active {
  color: #727272;
}

.shop_options {
  border-bottom: 1px solid #e8e8e8;
  margin: 0px 20px 20px 20px;
}

/*============================
      PRODUCT DETAIL
==============================*/

.product_detail_wrapper {
  display: flex;
  margin-bottom: 100px;
}

.product_detail_wrapper .right {
  flex-basis: 60%;
  min-height: 800px;
  padding: 0 15px;
}

.product_detail_wrapper .left {
  flex-basis: 40%;
  padding: 0 15px;
}

.product_detail_wrapper p {
  font-size: 17px;
  font-weight: lighter;
  border: 1px solid #d3d3d3;
  padding: 10px;
}

.product_detail_wrapper .product_tags {
  padding-bottom: 10px;
  border-bottom: 1px solid #d3d3d3;
}

.product_detail_wrapper .product_tags .tag {
  display: flex;
  margin-bottom: 20px;
}

.product_detail_wrapper .product_tags .tag svg {
  font-size: 43px;
  color: #5b768c;
  width: 50px;
}

.product_detail_wrapper .product_tags .tag .tag_text {
  font-size: 14px;
  text-transform: uppercase;
  color: #999592;
  padding-left: 20px;
}

.product_detail_wrapper .product_actions .price {
  font-size: 40px;
  font-weight: 300;
}
.product_detail_wrapper .product_actions .cart {
  width: 149px;
}
.user_cart_sum {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
  background: #f7f7f7;
  padding: 20px 30px;
}

.cart_no_items svg,
.cart_success svg {
  font-size: 130px;
  color: #717171;
}
.cart_no_items,
.cart_success {
  text-align: center;
  font-size: 28px;
  color: #999592;
}

.product_detail_wrapper .product_actions {
  padding: 20px 0px 30px 0px;
  border-bottom: 1px solid #d3d3d3;
}

.product_detail_wrapper .product_specifications .item {
  font-size: 15px;
  text-transform: uppercase;
  color: #838383;
}

.product_detail_wrapper .product_image_container {
  margin-top: 30px;
}

.product_detail_wrapper .main_pic {
  box-sizing: border-box;
  cursor: pointer;
}

.product_detail_wrapper .main_pic div {
  width: 100%;
  height: 446px;
  border: 1px solid #d9d9d9;
  background-size: cover !important;
  background-position: center center !important;
}

.product_detail_wrapper .main_thumbs {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.product_detail_wrapper .main_thumbs .thumb {
  cursor: pointer;
  height: 100px;
  flex-basis: 50%;
  background-size: cover !important;
  background-position: bottom center !important;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
}

.paypal_button_container {
  margin: 10px 0px;
}

/*=============================
       REGISTER LOGIN
===============================*/

.register_login_container {
  display: flex;
  align-items: baseline;
  border: 1px solid #999592;
  border-top: 5px solid #999592;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 80px 0px 110px 0px;
  padding: 30px;
  min-height: 430px;
}

.register_login_container .left,
.register_login_container .right {
  flex-basis: 100%;
}

.register_login_container h2 {
  margin: 20px 0px;
  text-transform: uppercase;
  color: #686868;
}

.register_login_container p {
  font-weight: 300;
  font-size: 16px;
  width: 90%;
}

/*=============================
       USER
===============================*/

.user_container {
  display: flex;
  padding: 0 10px;
  min-height: 700px;
}

.user_container .user_left_nav {
  border-right: 1px solid #dddddd;
  flex-basis: 20%;
  min-width: 240px;
}

.user_container .user_left_nav .links a {
  display: block;
  border-bottom: 1px solid #dddddd;
  font-size: 20px;
  font-weight: 300;
  padding: 10px 0px;
  max-width: 280px;
}

.user_container .user_right {
  flex-basis: 80%;
  padding: 0 0 60px 29px;
}

.user_container .user_nfo_panel {
  background: #f8f8f8;
  padding: 20px;
  margin-top: 20px;
}

.user_container .user_nfo_panel h1 {
  margin: 0 0 20px 0;
  line-height: 32px;
  text-transform: uppercase;
  font-size: 25px;
}

.user_container .user_nfo_panel span {
  display: block;
  font-size: 18px;
  font-weight: 300;
}

.user_product_block {
  display: flex;
  flex-wrap: wrap;
  background: white;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ebebeb;
}

.user_product_block .item {
  flex-grow: 1;
}

.user_product_block .item .image {
  height: 125px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  margin-right: 10px;
}
.user_product_block .item.btn {
  width: 0px;
}

.user_product_block .cart_remove_btn {
  cursor: pointer;
  background: #f44336;
  display: inline-block;
  padding: 5px 10px;
  color: #ffffff;
  margin-top: 50px;
}

/*=============================
       ADMIN
===============================*/

.admin_category_wrapper {
  padding-bottom: 50px;
  border-bottom: 4px solid #e9e9e9;
}

.admin_two_column {
  display: flex;
}

.admin_two_column .right {
  flex-basis: 70%;
}

.admin_two_column .left {
  flex-basis: 30%;
}

.brands_container {
  min-width: 175px;
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-right: 20px;
}

.brands_container .category_item {
  width: 100%;
  font-size: 20px;
  font-weight: 300;
  border: 1px solid #f1f1f1;
  padding: 10px;
  position: relative;
  background: #999592;
  color: #fff;
}

.dropzone {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  border: 1px solid #e5e5e5;
  margin-bottom: 40px;
}

.dropzone_box {
  flex-basis: 33%;
  max-width: 202px;
  min-width: 150px;
  height: 160px;
  padding: 10px;
  box-sizing: border-box;
}

.dropzone_box .wrap {
  background: #eaeaea;
  height: 100%;
  text-align: center;
  padding-top: 31px;
  box-sizing: border-box;
  font-size: 49px;
  background-size: contain !important;
  background-position: center center !important;
  border: 1px solid #eaeaea;
}

textarea{
  border: 1px solid #999592 !important;
  padding: 10px !important;
}

/* MEDIA QUERIES */

@media (max-width: 1024px) {
  .register_login_container{
    margin: 0 !important;
  }
  .page_container{
    min-height: 0;
  }
  .page_wrapper{
    padding: 257px 40px;
  }
}

@media (max-width: 887px) {
  .card_item_wrapper{
    flex-basis: 50% !important;
  }
  .featured_container .featured_image{
    background-position: center !important;
  }
  .page_wrapper{
    padding: 86px 40px;
  }
}

@media (max-width: 820px){
  .card_item_wrapper.grid_bars{
    flex-direction: column;
  }
}

@media (max-width: 758px){
  .dropzone_box{
    flex-basis: 50%;
  }
  .admin_two_column{
    flex-direction: column;
  }
}

@media (max-width: 608px){
  .dropzone_box{
    flex-basis: 100%;
    max-width: 100%;
  }
}

@media (max-width: 470px){
  .user_container{
    flex-direction: column;
  }
  .user_container .user_left_nav{
    border-right: none !important;
    padding: 20px !important;
  }
  .user_container .user_right{
    padding: 0 10px 30px;
  }
  .dropzone_box{
    flex-basis: 50%;
  }
  .product_detail_wrapper{
    flex-direction: column;
    margin-bottom: 0px;
  }
}

@media (max-width: 455px) {
  .card_item_wrapper{
    flex-basis: 100% !important;
  }
  .featured_container .featured_action{
    top: 20% !important;
  }
  .home_promotion .tag.title{
    font-size: 40px !important;
  }
  .home_promotion .tag.low_title{
    font-size: 30px !important;
  }
  footer .wrapper{
    flex-direction: column;
  }
  footer .left:last-child{
    order: -1;
  }
  .register_login_container{
    flex-direction: column;
  }
  .register_login_container .right{
    order: -1;
  }
  .page_wrapper{
    padding: 0;
  }
  header .container .left{
    width: auto !important;
  }
  header .container .right .top{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  header .container .right .top, header .container .right .bottom{
    padding: 7px 10px !important;
  }
  .shop_wrapper{
    flex-direction: column !important;
    
  }
  .shop_wrapper .left{
    padding-bottom: 20px;
  }
  .page_top{
    padding: 50px 0px 20px 10px !important;
  }
}

@media (max-width: 320px) {
  header .logo {
    font-size: 35px !important;
  }
  .dropzone_box{
    flex-basis: 100%;
    max-width: 100%;
  }
}
